@inherits LayoutComponentBase

<div class=html>
    <div class="header">
        <Navbar></Navbar>
    </div>
    <div class="body">
        <div class=body-content>
            @Body
        </div>
    </div>
    <div class="footer">
        <Footer></Footer>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>