.navbar {
    background-color: var(--color-primary-background-1);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow-medium);
    backdrop-filter: blur(100px);
}

.navbar-logo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0);
    display: flex;
    align-items: center;
}

.navbar-links {
    margin-left: 30%;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    margin: 0 2% 0 2%;
}

.nav-link:hover {
    color: var(--color-gold-1)
}

.logo {
    width: 30px;
    margin-right: 10px;
}