<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["elements/card.css"]" />
    <link rel="stylesheet" href="@Assets["elements/button.css"]" />
    <link rel="stylesheet" href="@Assets["FrontEnd.styles.css"]" />

    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    
</body>

</html>