.button {
    width: 100%;
    justify-self: center;
    align-items: center;
    text-align: center;
    border-radius: var(--border-1);
    box-shadow: var(--shadow-1);
}

.button-hover{
    border-radius: var(--border-1);
}

.text{
    padding: 1%;
}

.button-hover:hover {
    background-color: var(--color-primary-translucent-1);
}


.button-hover:hover {
    background-color: var(--color-primary-translucent-3);
}