.cta-section {
    width: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-1);
    box-shadow: var(--shadow-1);
    background: var(--color-primary-translucent-2);
    text-align: center;
    align-self: center;
    justify-self: center;
}

.cta-section .container {
    width: 100%;
}

.cta-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.text-area {
    flex: 1 1 50%;
    width: 100%;
    padding-left: 1rem;
}

.image-area {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
}

.image-area img {
    width: 70%;
    border-radius: var(--border-1);
}

.cta-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cta-subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0.9;
}

.cta-price {
    color: var(--color-green-2)
}

.cta-oldprice{
    margin-left: 1%;
    color: red;
    font-size: 1.2rem;
    text-decoration:line-through;
}