.about[b-u28ymlant2] {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
}

h2[b-u28ymlant2]{
    color: var(--color-gold-3);
}

h3[b-u28ymlant2]{
    color: var(--color-gold-2)
}

.container[b-u28ymlant2]{
    display: flex;
    justify-content: center;
}

.content[b-u28ymlant2]{
    width: 95%;
    text-align: center;
}

section[b-u28ymlant2] {
    width: 100%;
    background-color: rgba(0, 60, 255, 0);
    margin: 5% 0 5% 0;
}

section .title[b-u28ymlant2]{
    margin-bottom: 2%;
}

.video-container[b-u28ymlant2] {
    justify-self: center;
    width: 70%;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: var(--shadow-1);
    margin-bottom: 5%;
}

.video-container iframe[b-u28ymlant2] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.label[b-u28ymlant2]{
    margin-top: 1%;
    text-align: left;
}

.lead[b-u28ymlant2], .values[b-u28ymlant2], .howItWorks[b-u28ymlant2]{
    margin-bottom: 3%;
    text-align: left;
}

.teacher-image[b-u28ymlant2]{
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
}