.discipline-page[b-wfnqutia9y]{
    width: 100%;
}

section[b-wfnqutia9y]{
    background-color: rgba(0, 128, 0, 0);
    margin: 1%;
    padding: 1%;
}

section h1[b-wfnqutia9y]{
    margin: 2% 0 2% 0;
}