.about {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
}

h2{
    color: var(--color-gold-3);
}

h3{
    color: var(--color-gold-2)
}

.container{
    display: flex;
    justify-content: center;
}

.content{
    width: 95%;
    text-align: center;
}

section {
    width: 100%;
    background-color: rgba(0, 60, 255, 0);
    margin: 5% 0 5% 0;
}

section .title{
    margin-bottom: 2%;
}

.video-container {
    justify-self: center;
    width: 70%;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: var(--shadow-1);
    margin-bottom: 5%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.label{
    margin-top: 1%;
    text-align: left;
}

.lead, .values, .howItWorks{
    margin-bottom: 3%;
    text-align: left;
}

.teacher-image{
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
}