.homePage {
    width: 100%;
}

.disciplinas {
    display: flex;
    justify-content: center;
}

section {
    height: 100vh;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}


section h1,
section h2,
section p {
    margin: 2% 0 2% 0;
    text-align: center;
}

section p {
    max-width: 80%;
    justify-self: center;
    align-self: center;
}

#s1 {
    background-color: var(--color-primary-translucent-2);
}

#s2 {
    background-color: var(--color-primary-translucent-1);
}

.wellcome-section {
    background-image: url("images/ClassRoomBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--shadow-1);
}

.wellcome-section .container {
    border-radius: var(--border-1);
    box-shadow: var(--shadow-1);
    backdrop-filter: blur(5px);
    box-shadow: var(--shadow-1);
}

.wellcome-section .container .content {
    padding: 3%;
}

.wellcome-section .container .content .title {
    width: 100%;
    margin: 0;
    font-size: 8rem;
}

.wellcome-section .container .content .sub-title {
    width: 100%;
    margin: 0;
    font-size: 4rem;
}

.courses-section .container,
.depoiments-section .container {
    width: 100%;
    height: 100%;
}

.grid {
    max-height: 60vh;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    overflow-y: auto;
}