.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 1%;
    padding: 5%;
    background-color: rgba(255, 255, 0, 0);
    border: solid 1px var(--color-black-3);
    box-shadow: var(--shadow-1);
    border-radius: var(--border-1);
}

.card {
    background-color: var(--color-primary-translucent-1);
    border: 1px solid var(--color-secundary-border-1);
    border-radius: var(--border-1);
    box-shadow: var(--shadow-1);
    padding: 1rem;
    text-align: center;
}



.card-title {
    color: var(--color-gold-3);
}

.card-cta {
    color: var(--color-gold-3);
}

.card-hover:hover {
    transform: translateY(-5px);
    background-color: var(--color-primary-translucent-2);
}

.card-hover:hover .card-cta {
    color: var(--color-gold-4);
}